.header {
  background: var(--gray-100);
  display: flex;
  justify-content: center;
  padding: 4.5rem 0 5rem;
  border-bottom: 1px solid var(--gray-200);
}

h1 {
  color: var(--blue-300);
  font-size: 2.5rem;
  font-weight: 700;
}
span {
  color: var(--purple-300);
}
