.taskslist {
  width: 50%;
  margin: 4rem auto;
}
.listheader {
  color: var(--blue-300);
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.taskcount {
  color: var(--white);
  background-color: var(--gray-400);
  border-radius: 16px;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.tasksIsEmpty {
  border-top: 1px solid var(--gray-200);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  margin-top: 1.5rem;
  color: var(--gray-300);
  line-height: 1.4rem;
}
.tasksEmptyFirstParagraph {
  font-weight: 700;
  margin-top: 1rem;
}
.task {
  display: flex;
  gap: 0.87rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  width: 100%;
  align-items: flex-start;
}
.task input {
  flex: 1;
  width: 1.25rem;
}
.taskTitle {
  flex: 12;
}
.task button {
  flex: 1;
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.task button:hover {
  color: var(--red-500);
}
